{% extends 'base.html' %}

{% block title %}Player index{% endblock %}

{% block navbar %}
{{ super() }}
<a href="{{ url_for('site.player_site.index') }}">Teams</a>
{% endblock %}

{% block content %}
<div class="container">
    {% for team in teams %}
    <h2><a href="{{ url_for('site.player_site.overview', teamID=team.teamID) }}" class="button">{{team.teamID}}: {{team.name}}</a></h2>
    {% endfor %}
    <h2><a href="{{ url_for('site.player_site.all') }}" class="button">All Teams</a></h2>
</div>
{% endblock %}