{% extends 'player/index.html' %}

{% block title %}{{ team.teamID }} {{ team.name }}{% endblock %}

{% block navbar %}
{{ super() }}
<a href="{{ url_for('site.player_site.overview', teamID=team.teamID ) }}">Übersicht</a>
{% endblock %}

{% block content %}

<h1>
    Team: {{ team.teamID }} {{ team.name }}
</h1>

{% if failed_tasks %}
<div style="background-color: var(--failed-color-background);">
    <h2 style="color: var(--failed-color);"> Fehlgeschlagende Aufgaben </h2>


    {% for task in failed_tasks %}
    <div>
        <h3>{{ task.taskID }}: {{ task.name }}</h3>
        <p>{% autoescape false %}
            {{ task.description }}
            {% endautoescape %}</p>
        <p>{{ task.last_updated }}</p>
        <form action="{{ url_for('site.player_site.submit', taskID=task.taskID ) }}" method="get">
            <input type="submit" value="Als Abgegeben Markieren">
        </form>
    </div>
    {% endfor %}
</div>
{% endif %}

<div style="background-color: var(--wip-color-background);">
    <h2> In Arbeit: </h2>

    {% for task in wip_task %}
    <div style="background-color: var(--wip-color-background); margin: 10px;">
        <h3>{{ task.taskID }}: {{ task.name }}</h3>
        <p>{% autoescape false %}
            {{ task.description }}
            {% endautoescape %}</p>
        <p>{{ task.last_updated }}</p>
        <form action="{{ url_for('site.player_site.submit', taskID=task.taskID ) }}" method="get">
            <input type="submit" value="Als Abgegeben Markieren">
        </form>
    </div>
    {% endfor %}
</div>

<div style="background-color: var(--assigned-color-background);">
    <h2> TODO: </h2>

    {% for task in assigned_task %}
    <div style="background-color: var(--assigned-color-background); margin: 10px;">
        <h3>{{ task.taskID }}: {{ task.name }}</h3>
        <p>{% autoescape false %}
            {{ task.description }}
            {% endautoescape %}</p>
        <p>{{ task.last_updated }}</p>
        <form action="{{ url_for('site.player_site.work', taskID=task.taskID ) }}" method="get">
            <input type="submit" value="JETZT BEARBEITEN">
        </form>
    </div>
    {% endfor %}
</div>

<div style="background-color: var(--created-color-background);">
    <h2> Verfügbare Aufgaben: </h2>

    {% for task in available_tasks %}
    <div style="background-color: var(--created-color-background); margin: 10px;">
        <h3>{{ task.taskID }}: {{ task.name }}</h3>
        <p>{% autoescape false %}
            {{ task.description }}
            {% endautoescape %}</p>
        {{ task.last_updated }}
        <form action="{{ url_for('site.player_site.assign', teamID=team.teamID, taskID=task.taskID ) }}" method="get">
            <input type="submit" value="JETZT SICHERN">
        </form>
    </div>
    {% endfor %}
</div>

{% endblock %}