<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
    {% if error_message %}
    <div class="error-container">
        <span>{{ error_message }}</span>
        <span class="error-close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    {% endif %}
    <div class="navbar">
        {% block defnavbar %}<a href="{{ url_for('site.index') }}">Home</a>{% endblock %}
        {% block navbar %}{% endblock %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>