{% extends 'base.html' %}

{% block title %}Edit Task{% endblock %}

{% block content %}
    <h1>Edit Task {{ task.taskID }}</h1>
    <form action="{{ url_for('site.updateTask', taskID=task.taskID) }}" method="post">
        <label for="name">Task Name:</label>
        <input type="text" id="name" name="name" value="{{ task.name }}" required>
        <br>
        <label for="description">Task Description:</label>
        <textarea id="description" name="description" required>{{ task.description }}</textarea>
        <br>
        <input type="submit" value="Update Task">
    </form>
{% endblock %}