{% extends 'base.html' %}

{% block title %}Task List{% endblock %}

{% block content %}

<div class="page-div">
    <h1>{{ task.taskID }}. {{ task.name }}</h1>
    <p>
        {% autoescape false %}
        {{ task.description }}
        {% endautoescape %}
    </p>

    <p>
        {{ task.teamName }}
    </p>

    <table style="width: 100%;">
        <thead>
            <tr>
                <th>Status</th>
                <th>Zeit</th>
            </tr>
        </thead>
        <tbody>
            {% for status in statuses %}
                <tr>
                    <td>
                        <div class="{% if status.name == 'Created' %}status-created{% elif status.name == 'Assigned' %}status-assigned{% elif status.name == 'Work in Progress' %}status-work-in-progress{% elif status.name == 'Done' %}status-done{% elif status.name == 'Failed' %}status-failed{% endif %}">
                            {{ status.name }}
                        </div>
                    </td>
                    <td>{{ status.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}