{% extends 'base.html' %}

{% block title %}Task List{% endblock %}

{% block content %}
<div class="navbar">
    <a href="{{ url_for('site.createTaskSite') }}">Create New</a>
    <a href="{{ url_for('site.deleteTaskSite') }}">Delete</a>
</div>
<div class="page-div">
    <h1>Tasks</h1>
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>Task ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Team</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td><a href="{{ url_for('site.specificTask', taskID=task.taskID) }}">{{ task.taskID }}</a></td>
                    <td>{{ task.name }}</td>
                    <td>
                        {% autoescape false %}
                        {{ task.description }}
                        {% endautoescape %}
                    </td>
                    <td>
                        <div style="width: 100%;">
                            <div style="width: 30%; height: fit-content; float: left;">
                                {{ task.teamName }}
                            </div>
                            <div style="margin-left: 30%; height: fit-content;">
                                
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="{% if task.status == 'Created' %}status-created{% elif task.status == 'Assigned' %}status-assigned{% elif task.status == 'Work in Progress' %}status-work-in-progress{% elif task.status == 'Done' %}status-done{% elif task.status == 'Failed' %}status-failed{% endif %}">
                            {{ task.status }}
                        </div>
                        <div>
                            {{ task.statustimestamp }}
                        </div>
                    </td>
                    <td>
                        <div>
                            <a href="{{ url_for('site.editTask', taskID=task.taskID) }}">Edit</a>
                        </div>
                        <div>
                            <form class="form-inline" method="POST" action="{{ url_for('site.assignTaskSite', taskID=task.taskID) }}">
                                <label for="team">Assign to Team:</label>
                                <select name="team" id="team">
                                    <option {% if task.teamID is none %}selected{% endif %}>None</option>
                                    {% for team in teams %}
                                        <option value="{{ team.teamID }}" {% if task.teamID == team.teamID %}selected{% endif %}>{{ team.name }}</option>
                                    {% endfor %}
                                </select>
                                <input class="taskUpdate" type="submit" value="Assign">
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
