{% extends 'spielleitung/tasks/index.html' %}

{% block title %}Edit Task {{task.id}}{% endblock %}

{% block content %}
<form action="" method="post">
    <div>
        <h1>Edit Task {{task.id}}</h1>

        {{ form.hidden_tag() }}

        <div class="form-floating mb-3">
            {{ form.name(class="form-control") }}
            {{ form.name.label }}
        </div>

        <div class="form-floating mb-3">
            {{ form.description(class="form-control", style="height: 200px") }}
            {{ form.description.label }}
        </div>

        <div class="form-floating mb-3">
            {{ form.format(class="form-control") }}
            {{ form.format.label }}
        </div>

        <div class="form-floating mb-3">
            {{ form.link(class="form-control") }}
            {{ form.link.label }}
        </div>

        <div class="form-floating mb-3">
            {{ form.comment(class="form-control") }}
            {{ form.comment.label }}
        </div>

        <div class="form-floating mb-3">
            {{ form.team(class="form-select") }}
            {{ form.team.label }}
        </div>

        <div class="accordion mb-3">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                        <span class="text-danger"> Danger Zone </span>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="form-floating mb-3">
                            {{ form.status(class="form-select") }}
                            {{ form.status.label }}
                        </div>

                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">
                            Task Löschen
                        </button>
                    </div>
                </div>
            </div>
        </div>



        <div>
            <a href="{{back}}" class="btn btn-secondary"> Abbrechen </a>

            {{ form.submit(class="btn btn-primary") }}
        </div>

        <hr class="mt-5">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Logs
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% for log in logs %}
                        {{ log }} <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Löschen</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bist du Sicher das du diese Aufgabe löschen möchtest?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ form.delete(class="btn btn-danger") }}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}