{% extends 'spielleitung/index.html' %}

{% block title %}Task List{% endblock %}


{% block content_override %}
<div class="m-3">
    <div class="row">
        <div class="col">
            <h1>Tasks</h1>
        </div>
        <div class="col text-end">
            <a class="btn btn-primary" href="{{ url_for('.create') }}">Create New</a>
        </div>
    </div>
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Task ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Team</th>
                <th>Status</th>
                <th>Duration</th>
                <!-- <th>Actions</th> -->
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr class="position-relative"
                onclick="window.location=`{{ url_for('site.spielleitung.tasks.show', id=task.id)}}`;">
                <td>
                    {{ task.id }}
                </td>
                <td>
                    {{ task.name }}
                </td>
                <td>
                    {{ task.description }}
                </td>
                <td>
                    {% if task.team %}
                    {{ task.team.name }}
                    {% else %}
                    Kein Team zugewiesen
                    {% endif %}
                </td>
                <td>
                    <div class="text-{{ task.status.html_color }}">
                        {{ task.status.name }}
                    </div>
                </td>

                <!-- <td>
                    <a class="btn btn-danger" style="position: relative; z-index: 10;"
                        href="{{ url_for('site.index')}}">
                        <i class="bi bi-exclamation-circle"></i>
                    </a>
                    <a class="btn btn-warning" style="position: relative; z-index: 10;"
                        href="{{ url_for('site.spielleitung.tasks.edit', id=task.id)}}">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <a class="btn btn-outline-success" style="position: relative; z-index: 10;"
                        href="{{ url_for('site.spielleitung.tasks.edit', id=task.id)}}">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                </td> -->
                <td>
                    {% if task.status.id == 2 or task.status.id == 4 %}
                    <span class="text-{{ task.timecolor }}">
                        {{ task.timesince }}
                    </span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}