{% extends 'base.html' %}

{% block title %}Team List{% endblock %}

{% block content %}
<div>
    <div class="navbar">
        <a href="{{ url_for('site.teams_site.createTeamSite') }}">Create New</a>
        <a href="{{ url_for('site.teams_site.deleteTeamSite') }}">Delete</a>
    </div>
    <div class="page-div">
        <h1>Teams</h1>
        <table>
            <thead>
                <tr>
                    <th>teamID</th>
                    <th>name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                    <tr>
                        <td>{{ team.teamID }}</td>
                        <td>{{ team.name }}</td>
                        <td>Action</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}