{% extends 'spielleitung/teams/index.html' %}

{% block title %}Edit Team{% endblock %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div>
        <h1>Edit Team</h1>
        <div class="form-floating mb-3">
            {{ form.name(class="form-control") }}
            {{ form.name.label }}
        </div>

        <div class="accordion mb-3">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                        <span class="text-danger"> Danger Zone </span>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">
                            Team Löschen
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <a href="{{back}}" class="btn btn-secondary"> Abbrechen </a>
            {{ form.update(class="btn btn-primary") }}
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Löschen</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bist du Sicher das du diese Team löschen möchtest?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ form.delete(class="btn btn-danger") }}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}