{% extends 'spielleitung/index.html' %}

{% block title %}Team List{% endblock %}

{% block content %}
<div>
    <div class="page-div">
        <h1>Teams</h1>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>teamID</th>
                    <th>name</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                <tr class="position-relative" onclick="window.location=`{{ url_for('.edit', team_id=team.id) }}`;">
                    <td>{{ team.id }}</td>
                    <td>{{ team.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}