<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('site.index') }}">Home</a>
        <a href="{{ url_for('site.tasks_site.showAllTasks') }}">Tasks</a>
        <a href="{{ url_for('site.teams_site.showAllTeams') }}">Teams</a>
        <a href="{{ url_for('site.overview_site.showOverview') }}">Overview</a>
        <!-- Add more navigation links as needed -->
    </div>
    <div class="content">
        {% if error_message %}
            <div class="error-message">
                {{ error_message }}
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>