{% extends 'base.html' %}

{% block title %}Task Management{% endblock %}

{% block content %}
<div>
    <h1>iScout Aufgabenverteilung</h1>


    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4 my-3">
        {% for team in teams %}
        <div class="col">
            <a href="{{url_for('site.team.id.overview', id=team.id)}}" class="text-decoration-none">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        {{ team.name }}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <hr class="my-5">

    <div class="row text-center">
        <div class="col">
            <a href="{{ url_for('site.togglerefresh') }}" class="btn btn-sm ms-2
            {% if session.get('refresh') %}
            btn-outline-success
            {% else %}
            btn-outline-danger
            {% endif %}">
                <i class="bi bi-arrow-clockwise"></i> Automatisch Aktualisieren
            </a>
        </div>
        <div class="col">
            <a href="{{ url_for('site.toggletranslate') }}" class="btn btn-sm ms-2
            {% if session.get('translate') %}
            btn-outline-success
            {% else %}
            btn-outline-danger
            {% endif %}">
                <i class="bi bi-translate"></i> Übersetzen
            </a>
        </div>
    </div>

    <hr class="my-5">

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4 my-3 text-center">
        <div class="col">
            <h2><a href="{{ url_for('site.spielleitung.index') }}" class="btn btn-primary g-4">Spielleitung</a></h2>
        </div>
        <div class="col">
            <h2><a href="{{ url_for('site.overview.index') }}" class="btn btn-primary g-4">Übersicht</a></h2>
        </div>
    </div>



</div>
{% endblock %}