{% extends 'base.html' %}

{% block title %}Task Management{% endblock %}

{% block content %}
<div class="container">
    <h1>iScout Aufgabenverteilung</h1>

    <div class="">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4">
            {% for team in teams %}
            <div class="col">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <a href="{{url_for('site.team.id.overview', id=team.id)}}" class="text-decoration-none">
                            {{ team.name }}
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>



    <h2><a href="{{ url_for('site.spielleitung.index') }}" class="button">Spielleitung</a></h2>
    <h2><a href="{{ url_for('site.overview.index') }}" class="button">Übersicht</a></h2>

</div>
{% endblock %}